.cardStack {
    width: 100px;
    height: 150px;
    margin: 0 10px;
    cursor: pointer;
}

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1px;
}

#lightBlue {
    background-color: lightBlue;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#brown {
    background-color: #663300;
}

#pink {
    background-color: #cc44cc;
}

#darkBlue {
    background-color: darkBlue;
}

#railroad {
    background-color: black;
}

#utility {
    background-color: gray;
    color: gray;
}
/* .cardStack:hover {
    background-color: #2980b9;
} */

.card {
    width: 100px;
    height: 30px;
    margin: 5% auto;
    cursor: pointer;
    background-color: antiquewhite;
    font-size: 13px;
}

.card:hover {
    background-color: #8bb6d3;
}

h1 {
    text-align: center;
    /* put on its own line */
    margin: 0;
}

.wallet {
    width: 100px;
    height: 1000px;
    margin: 10px 10px;
    cursor: pointer;
    background-color: burlywood;
}

#medcolor {
    color: #663300;
}

#balcolor {
    color: #663300;
}

#concolor {
    color: lightblue;
}

#orcolor {
    color: lightblue;
}

#vercolor {
    color: lightblue;
}


#stccolor {
    color: #cc44cc;
}

#stacolor {
    color: #cc44cc;
}

#vircolor {
    color: #cc44cc;
}

#stjcolor {
    color: orange;
}

#nycolor {
    color: orange;
}

#tencolor {
    color: orange;
}

#kencolor {
    color: red;
}

#indcolor {
    color: red;
}

#illcolor {
    color: red;
}

#atlcolor {
    color: yellow;
}

#vencolor {
    color: yellow;
}

#pencolor {
    color: yellow;
}

#marcolor {
    color: yellow;
}

#paccolor {
    color: green;
}

#norcolor {
    color: green;
}

#pencolor {
    color: green;
}  

#parkcolor {
    color: darkblue;
}

#boardcolor {
    color: darkblue;
}

#eleccolor {
    color: gray;
}

#watercolor {
    color: gray;
}

#creditcard {
    width: 100px;
    height: 1000px;
    margin: 10px 10px;
    cursor: pointer;
    background-color: #ccffcc;
}

#calc-box {
    width: 100px;
    height: 1000px;
    margin: 10px 10px;
    cursor: pointer;
    background-color: #ccffcc;
}

#form {
    width: 110px;
    height: 1000px;
    margin: 10px 10px;
    cursor: pointer;
    background-color: #ccffcc;
}

input {
    width: 100px;
}

#displayequals {
    width: 100px;
}





